<% if signed_in? %>
	<h1>SIMPLE TODO LISTS</h1>
	<div class="projects">
		<div class="controls input-append">
			<%= link_to image_tag("plus.png") %>
			<input type="text" id="inputWarning" placeholder="Start typing here to create task...">
			<button id="addbutt" class="btn btn-success" type="button">
				Add task
			</button>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
    <h1>Welcome to the Todo Lists</h1>
    	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    </div>
<% end %>
	
