<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new task..." %>
  </div>
  <div id="button_ajax">
  	<%= f.submit "Add task", class: "btn btn-large btn-primary" %>
  	<input class="btn btn-large btn-primary" type="button" id="check_button" value="1">
  	<input class="btn btn-large btn-primary" type="button" id="tara_kender" value="2">
  </div>
<% end %>
