<div class="prj1">
	<h4><%= @project.name %></h4> 
	<div class="controls input-append">
		<%= link_to image_tag("plus.png") %>
		<input type="text" placeholder="Start typing here to create task...">
		<button type="button" class="btn btn-success" >Add task</button>
	</div>
</div>