<% if signed_in? %>
<h1>SIMPLE TODO LISTS</h1>
<div id="projects">
	<%= render @projects %>
</div>
<div id="new" align="center">
	<%= link_to "New Project", new_project_path, id: "new_project_link", remote: true, class: "btn btn-large btn-primary" %>
</div> 
<% else %>
<div class="center hero-unit">
	<h1>Welcome to the Todo Lists</h1>
	<%= link_to "Sign up now!", signup_path, 
	class: "btn btn-large btn-primary" %>
</div>
<% end %>

