// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controls, input-prepend, input-append{
  display: block;
	background-color: #C9C9C9;
	margin-bottom: 0px;
}

.date {
	float: right;
	font-size: 12px;
	height: 18px;
	border-radius: 3px;
	border: 1px solid #B7BAC1;
	background-color: #E1E1E1;
	margin: auto;
	color: #7A7A7A;
}

.del_prj {
	position: relative;
	float: right;
	margin: 5px;
}

.dp {
	float: right;
	width: 135px;
	display: inline-block;
	height: 20px !important;
	padding: 1px 5px !important;
	margin-top: 4px;
	margin-right: 3px;
	text-align: center;
	border: medium none;
  outline: medium none;
}

.draggable {
	display: block;
	left: 30%;
	height: auto;
	width: 490px;
	background-color: #DCDCDC;
	border-radius: 5px;
	position: relative;
}

.draggable + .draggable {
	margin-top: 10px;
}

.ed_prj:hover, .prj_actions:hover, .del_prj:hover, tr:hover {
	cursor: pointer;
}

.ed_task_buttons {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #B7B7B7;
	height: 20px;
	padding: 0 2px;
	margin-top: 4px;
}

.ed_task_buttons:hover {
	background-color: #FFFFDC;
}

.ed_task_inp, .ed_prj_inp {
	margin-bottom: 0px !important;
	height: auto;
	width: auto;
	padding: 0 !important;
}

.ed_prj_inp {
	width: auto;
	background-color: #F0F0F0 !important;
	margin-bottom: -6px !important;
	margin-left: 75px;
}

.fold, .unfold {
	height: 27px;	
	margin: 8px 0 8px 8px !important;
}

form {
	display: inline-block;
	margin: 1px 1px -4px 1px;
}

img {
	opacity: .3;
}

img:hover {
	opacity: 1;
}

input::-moz-selection, 
textarea::-moz-selection {
    background-color: #A5C7F4;
}

.new_task {
	margin: 8px 8px 8px 0;
}


#new_project_link {
	margin: 10px;
}

.prj_actions {
	height: 30px;
	background-color: #4A5C9A;
	margin-bottom: 0px;
}

.prj_actions .name {
	position: relative;
	margin: 5px 5px 5px 75px;
	color: white;
}

.prj_actions > img {
	margin: 10px 0 0 15px;
	position: absolute;
}

.prj_actions img:last-child {
	margin-right: 5px;
}

.prj_actions form {
	margin-bottom: 0 !important;
}

p {
  font-size: 1.1em;
}

#scroll_up {
	position: fixed;
	height: 100%;
	width: 100px;
	opacity: 0;
	margin-top: -20px;
	padding: 13px 0;
	background: #EAFAFD;
}


.span9 {
	margin-left: 0px;
}

table {
  table-layout: fixed;
	border: 0px; 
  width: 100%;
}

td:nth-child(2) {
	vertical-align: middle;
	word-wrap: break-word;
	padding-left: 10px;
}

td input[type=checkbox] {
	position: relative;
	margin-bottom: 5px;
}

td p {
	display: inline;
	position: relative;
	vertical-align: middle;
}

tr { border-top: 1px solid #B7BAC1; }
tr + tr { border-top: 1px solid #B7BAC1; }
td + td { border-left: 1px solid #B7BAC1; }

.tasks {
	margin-bottom: 8px;
}

.task_list p {
	margin-right: 5px;
}

#up, #up:hover {
	display: block;
	margin: 0 0 0 35px;
	width: 24px;
	height: 24px;
	opacity: .3;
}

.x {
	border: medium none;
	outline: medium none;
	left: 372px;
	margin-top: 6px;
	position: absolute;
}