// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects {
	border-style: solid;
	border-color: green;
	position: relative;
	padding: 10px
}

#new_project_link {
	margin: 5px;
}

form {
	margin: 1px
}

.prj {
	display: inline-block;
	border-style: solid;
	border-color: red;
	margin: 5px;
	width: 410px;
	left: 30%
}

.controls {
	display: inline-block;
}
