// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controls, input-prepend, input-append{
  display: block;
	background-color: #C9C9C9;
	margin-bottom: 0px;
}

.del_prj {
	position: relative;
	float: right;
	margin: 5px;
}

.draggable {
	display: block;
	left: 30%;
	height: auto;
	width: 490px;
	background-color: #DCDCDC;
	border-radius: 5px;
}

.draggable + .draggable {
	margin-top: 10px;
}

.ed_prj:hover, .prj_actions:hover, .del_prj:hover, tr:hover {
	cursor: pointer;
}

.ed_task_inp, .ed_prj_inp {
	margin-bottom: 0px !important;
	height: auto;
	width: auto;
	padding: 0 !important;
}

.ed_prj_inp {
	width: auto;
	background-color: #F0F0F0 !important;
	margin-bottom: -6px !important;
	margin-left: 23px !important;
}

.fold, .unfold {
	height: 27px;	
	margin: 8px 0 8px 8px !important;
}

form {
	display: inline-block;
	margin: 1px;
}

img {
	opacity: .3;
}

img:hover {
	opacity: 1;
}

.new_task {
	margin: 8px 8px 8px 0;
}


#new_project_link {
	margin: 10px;
}

.prj_actions {
	height: 30px;
	background-color: #4A5C9A;
	margin-bottom: 0px;
}

.prj_actions .name {
	position: relative;
	margin: 5px 5px 5px 25px;
	color: white;
}

.prj_actions > img {
	margin-left: 10px;
}

.prj_actions img:last-child {
	margin-right: 5px;
}

.prj_actions form {
	margin-bottom: 0 !important;
}


#projects {
	/*padding: 5px;*/
}

p {
  font-size: 1.1em;
}

.span9 {
	margin-left: 0px;
}

table {
  table-layout: fixed;
	border: 0px; 
  width: 100%;
}

td:nth-child(2) {
	word-wrap: break-word;
	padding-left: 10px;
}

td input[type=checkbox] {
	position: relative;
	margin-bottom: 5px;
}

td p {
	display: inline;
	position: relative;
	vertical-align: middle;
}

tr { border-top: 1px solid #B7BAC1; }
tr + tr { border-top: 1px solid #B7BAC1; }
td + td { border-left: 1px solid #B7BAC1; }

.tasks {
	margin-bottom: 8px;
}

