// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_class {
	display: inline-block;
}

.lab_align {
	position: relative;
	margin-bottom: 0px;
}

#complete_tasks {
	color: #AEFBDC;
}

#incomplete_tasks {
	color: #9BA8E1;
}

#reorder {
	
}